.caja-lista{
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 15%;
    border: solid;
    border-width: 2px;
    border-color: lightgrey;
}

.sombra-texto{
    text-shadow: 2px 2px 4px #565353;
}