.caja-lista{
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 15%;
    border: solid;
    border-width: 2px;
    border-color: lightgrey;
}

.sombra-texto{
    text-shadow: 2px 2px 4px #565353;
}

@font-face {
    font-family: "heavitas";
    src: url("./../fonts/Heavitas.ttf");
}

.heavitas-text {
    font-family: "heavitas";
}

.polygon-container{
    position: relative;
    width: 100%;
    height: 100%;
}

polygon-fill{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-size: cover;
}